<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('../partials/head')%>
    <title>Nuevo formulario Creación de Producto</title>
    <link rel="stylesheet" href="/css/registroDeProducto.css">
</head>
<body>
    <header>
        <%-include('../partials/header') %>
    </header>
    <main>
<div class="formulario">
    <h2>Registro de Película</h2>
    <br>
    <h3>Ingresa los siguientes datos</h3>

     <div class="nombreDePelicula">
         <input type="text" name="nombrePelicula" placeholder="Nombre de Película">
     </div>
<br>
       <div>
           <input type="file" name="poster" placeholder="jpg, png, tif">
           <label for="poster">Imagenes</label>
       </div>
<br>
        <div>
            <input type="text" name="Reseña" placeholder="Describe una breve reseña de tu película">
            <label for="Reseña">Cuentanos sobre tu película</label>
        </div>
<br>
       <div>
           <input type="date" name="Año">
       </div>
<br>
       <div>
        <label for="otrasPlataformas">Tú película esta en otras plataformas</label>
           <input type="radio" name="otrasPlataformas" value="Sí"><label for="otrasPlataformas">Sí</label>
           <input type="radio" name="otrasPlataformas" value="No"><label for="otrasPlataformas">No</label>
       </div>
<br>
     <div class="Buttons">
      <button type="submit">Enviar</button>
      <button type="reset">Borrar</button>
     </div>
</div>
    </main>
    <footer>
        <%-include('../partials/footer') %>
    </footer>
</body>
</html>