<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/css/carritoCompras.css" rel="stylesheet">
    <title>CarritoCompras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <div><img src="img/Captura_de_Pantalla_2024-02-17_a_la(s)_7.29.36_p._m..png" class="logo"></div>
</header>
<main>
    <div class="iconos-proceso">
        <div class="icono-contexto">
        <i class="fa-solid fa-cart-shopping"></i>
        <h5>carrito</h5>
        </div>
        <div class="icono-contexto">
        <i class="fa-solid fa-user"></i>
        <h5>datos</h5>
        </div>
        <div class="icono-contexto">
        <i class="fa-solid fa-truck"></i>
        <h5>entrega</h5>
        </div>
        <div class="icono-contexto">
        <i class="fa-solid fa-dollar-sign"></i>
        <h5>pago</h5>
        </div>
    </div>
        <h1>Carrito de Compras</h1>
    <div class="vendido">
        <h1>Vendido por:retrofilms</h1>
    </div>
    <div class="producto">
        <i class="fa-regular fa-circle-xmark"></i>
        <img src="img/Breakfast_at_Tiffany's_(1961_poster).jpg" class="imagen-producto">
        <span>audrey hepburn</span>
        <div class="nombre-producto">
        <span>Breakfast at Tiffany's (film)</span>
        <div class="precio-producto">
        <span>$7000</span>
        <div class="add-delete">
            <i class="fa-solid fa-trash"></i>
            <span>1</span>
            <i class="fa-solid fa-circle-plus"></i>
        </div>
        </div>
        </div>
        </div>
        <div class="total-productos">
            <h1>1 Producto<h1>
        </div>
        <div class="cupon-descuento">
            <input type="text" maxlength="40" placeholder="Cupon de Descuento">
            <div class="aplicar">
                <button>Aplicar</button>
            </div>
        </div>
        <div class="subtotal-total">
        <div class="subtotal">
            <span>Subtotal:</span><span>$7.000</span>
        </div>
        <div class="total">
            <span>Total:</span><span>$7.000</span>
        </div>
    </div>
    <button class="pagar">
        <div>
            <span>Ir a pagar/</span><span>Total:$7.000</span>
        </div>
    </button>
    <button class="seguir-comprando">
        <div>
            <a href="">Seguir Comprando</a>
        </div>
    </button>
    <div>
        <button class="vaciar-carrito">Vaciar carrito</button>
    </div>
</main>
<footer>
    <div class="copyright">
        <span>©︎ 2024 retrofilms, todos los derechos reservados</span><br>
            <span class="terminos">Ver terminos y condiciones</span>
        </div>
</footer>
</body>
</html>