<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalleProducto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/detalleProducto.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section class ="encabezado">
            <div>
                <img class="logo" src="imagesDP/RetroFilms-logo4.png" alt="">
            </div>
            <nav>
                <button class = "menu" type ="button"><i class="fa-solid fa-ellipsis"></i></button>
            </nav>
            <nav class="buscador">
                <input type="text" id="site-search" placeholder="Busca tu pelicula favorita ">
                <button class="lupa" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
             </nav>
             <nav>
                <button class = "carrito-compras"><i class="fa-solid fa-basket-shopping"></i></button>
             </nav>
        </section>
        <section class ="menu-principal">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Generos</a></li>
                <li><a href="#">Peliculas</a></li>
            </ul>
        </section>
    </header>
    <br>
    <section class ="contenedor-total">
     <article>
        <button class ="boton-volver"><a class ="volver-pag-anterior"><i class="fa-solid fa-backward-step"></i>
            Volver</a></button>
     </article>
     <br>
     <section class ="pelicula-seleccionada">
      <article class = "caja-poster">
        <img class="bt-poster" src="imagesDP/Breakfast-at-tiffanys/Posters/Breakfast_at_Tiffany's_(1961_poster).jpeg" alt="">
        <br>
        <button class ="boton-poster">Ver poster</button>
      </article>
      <br>
      <article class = "caja-descripcion-pelicula">
        <div class ="titulo-pelicula">
        <h3 class ="titulo">Breakfast at Tiffany's</h3></div>
        <br>
        <div class ="precio">
            <h4>Precio:</h4>
            <p>$7000</p>
        </div>    
        <br>
        <h4>Duración: 2 hr</h4>
        <ul class = "detalle-peli">
            <li class ="vistas"><a  href="#"></a>Vistas</li>
            <li class = "anio"><a  href="#"></a>Año</li>
            <li class = "calif"><a  href="#"></a>Calificacion</li>
            <li class ="genero"><a  href="#"></a>Genero</li>  <!--Incluir letrero que al hacer hover, muestre las respuestas de cada item de la lista (uno por uno)-->
        </ul>
       <br>
        
        <p class ="descripcion-peli">Holly Golightly (Audrey Hepburn) es aparentemente una escort (la película no es clara en este punto, a diferencia del libro) y aspirante a actriz con un comportamiento bastante extravagante. Prueba de ello es su costumbre de desayunar frente a la joyería Tiffany & Co. Paul Varjack (George Peppard) es un tímido escritor que es el mantenido de una mujer casada. Cuando ambos se convierten en vecinos y se conocen, Paul se enamora de Holly. Sin embargo ella lo rechaza después y se compromete, por su dinero, con José Pereira (José Luis de Vilallonga), un político brasileño millonario. Finalmente, después de que su prometido rompe con ella, Holly acepta el amor de Paul.</p>
        <div>
        <button class="botones"><a href="#"></a>Agregar al carrito</button>
        <button class="botones"><a href="#"></a> Comprar ahora</button>
        </div>
      </article>
    </section>
      <br>
      <h3 class="titulo">Imagenes</h3>
      <article class = "carril-imagenes">
        <br>
        <ul>
            <li><img src="imagesDP/Breakfast-at-tiffanys/BT-img1.jpeg" alt=""></li>
            <li><img src="imagesDP/Breakfast-at-tiffanys/BT-img2.jpeg" alt=""></li>
            <li><img src="imagesDP/Breakfast-at-tiffanys/BT-img3.jpeg" alt=""></li>
            <li><img src="imagesDP/Breakfast-at-tiffanys/BT-img4.jpeg" alt=""></li>
        </ul>
      </article>
      <br>
      <h3 class="titulo">Reparto Principal</h3>
      <br>
      <article class ="reparto-principal">
              
            <div>
                <img class="actor" src="imagesDP/Breakfast-at-tiffanys/Reparto/AudreyHepburn.jpeg" alt=""> 
                <p>Audrey Hepburn</p>
            </div>
            <div>
                <img class = "actor" src="imagesDP/Breakfast-at-tiffanys/Reparto/George_Peppard_(1964).jpeg" alt=""> 
                <p>George Peppard</p>
            </div>
            <div>
                <img class="actor" src="imagesDP/Breakfast-at-tiffanys/Reparto/Patricia_Neal_1952.jpeg" alt="">
                <p>Patricia Neal</p>
            </div>
            <div>
                <img class="actor" src="imagesDP/Breakfast-at-tiffanys/Reparto/Buddy_Ebsen_-_USCG.jpeg" alt="">
                <p>Buddy Ebsen</p>
            </div>
            <div>
                <img class="actor" src="imagesDP/Breakfast-at-tiffanys/Reparto/Martin_Balsam_Film_Still.jpeg" alt="">
                <p>Martin Balsam</p>
            </div>
            <div>
                <img class="actor" src="imagesDP/Breakfast-at-tiffanys/Reparto/Mickey_Rooney_still.jpeg" alt="">
                <p>Mickey Rooney</p>
            </div>
            <div>
                <img class="actor" src="imagesDP/Breakfast-at-tiffanys/Reparto/Alan_Reed_in_Time_Table_(1956).jpeg" alt="">
                <p>Alan Reed</p>
            </div>
            <div>
                <img class="actor" src="imagesDP/Breakfast-at-tiffanys/Reparto/Jose de Vilallonga_(cropped).jpeg" alt="">
                <p>José Luis de Vilallonga</p>
            </div>
            <div>
                <img class="actor" src="imagesDP/Breakfast-at-tiffanys/Reparto/John_McGiver_1964.jpeg" alt="">
                <p>John McGiver</p>
            </div>
            <div>
                <img class="actor" src="imagesDP/Breakfast-at-tiffanys/Reparto/Stanley_Adams.jpeg" alt="">
                <p>Stanley Adams</p>
            </div>
        
      </article>
      <br>
      <h3 class="titulo">También te puede gustar</h3>
      <br>
      <article class ="tambien-puede-gustar">
            <div class ="back"><i class="fa-solid fa-angle-left"></i></div>
            <div><img src="imagesDP/Amanecer/Amanecer-poster.jpeg" alt=""><a href="#"></a></div>
            <div><img src="imagesDP/CantandoBajoLaLluvia/CantandoBajoLaLluvia-poster.jpeg" alt=""><a href="#"></a></div>
            <div><img src="imagesDP/LaDolceVita/LaDolceVita-poster.jpeg" alt=""><a href="#"></a></div>
            <div><img src="imagesDP/LoQueElVientoSeLlevo/LoQueElVientoSeLlevo.jpeg" alt=""><a href="#"></a></div>
            <div class ="front"><i class="fa-solid fa-angle-right"></i></div>
        </ul>
      </article>
      <br>
      <h3 class="titulo">Reviews</h3>
      <article class = "reviews">
        <br>
        <div class = "caja-comentario">
            <div class="usuario">
                <img src="imagesDP/Usuarios/avatar1.png" alt="fotoUsuario"> Nombre del Usuario
            </div>
               <p class ="comentario">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex accusamus magni ab assumenda enim, possimus voluptatum saepe similique voluptas! Sapiente ducimus quas at consectetur provident. Obcaecati minus animi porro inventore?
            </p>
        </div>
        <br>
        <div class = "caja-comentario">
            <div class="usuario">
                <img src="imagesDP/Usuarios/avatar2.png" alt="fotoUsuario"> Nombre del Usuario
            </div>
            <p class ="comentario">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex accusamus magni ab assumenda enim, possimus voluptatum saepe similique voluptas! Sapiente ducimus quas at consectetur provident. Obcaecati minus animi porro inventore?
            </p>
        </div>
      </article>
    
</section>
<br>
    <footer>
        <article class ="redes">
            
                <div><a href="#"><i class="fa-brands fa-instagram"></i></a></div>
                <div><a href="#"><i class="fa-brands fa-facebook"></i></a></div>
                <div><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></div>
                <div><a href="#"><i class="fa-brands fa-youtube"></i></a></div>
         </article>   
            <br>
            <img class="logo-footer" src="imagesDP/RetroFilms-Logo2.png" alt="">
            <br>
        <div class="Copyright">Copyright © 2023-2024 RetroFilms S.R.L.</div>
    </footer>
</body>
      
</html>