<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <link rel="stylesheet" href="css/formularioRegistro.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <header class="header">
        <a href="/"><img src="\img\Logo-RetroFilms.png"  alt="Logo-RetroFilms" class="header__img"></a>
    </header>
    
    <body>
  
        <form action="#" method="post">
            <label for="nombre">Tu nombre
                <input type="text"  name="nombre" placeholder="Nombres y Apellidos" required pattern="[^\d+$]+" title="Solo se permiten letras y numeros">
            </label>

            <label for="userName">Nombre de Usuario
                <input type="text"  name="userName" placeholder="User name" required pattern="[^\d+$]+" title="Solo se permiten letras y numeros">
            </label>

            <label for="telefono">Numero de telefono movil
                <input type="tel" name ="telefono" placeholder ="xxx-xxx-xxx" required pattern="[\d+]+" title="Solo se permiten numeros">
            </label>

            <label for="fotoPerfil">Foto de perfil
                <input type="file" name ="profilePic" accept=".jpg" class="fotoPerfil">
            </label>

            <label for ="password">Contraseña
                <input type ="password" name = "password" placeholder = "xxxx" required pattern="[^\d+$]+" title="Solo se permiten letras y numeros">
            </label>
            
            <label for = "repite-password">Repite la contraseña
                <input type = "password" name = "repite-password" placeholder= "xxxx" required pattern="[^\d+$]+" title="Solo se permiten letras y numeros">
            </label>

            <label for="checkbox">
                <input type=checkbox name = "checkbox" required pattern="[^\d+$]+" title="Solo se permiten letras y numeros">Acepta condiciones y restricciones 
            </label>

            <br>
            
            <label for="submitButton">
                <button type=submit name="submitButton"> Continuar </button>
            </label>

            <p class="login">¿Ya tienes cuenta? <a href="#">Log in </a> </p>
             
        </form>

    </body>
</html>