<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://kit.fontawesome.com/ef41563829.js" crossorigin="anonymous"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>RetroFilms</title>
    <link rel="stylesheet" href="/public/css/styles/styles.css" />
  </head>
  <body>
    <header>
      <section class="containerHedar1">
            <nav class="navbar">
            <a href="#">
                <img src="/public/css/styles/imagenes/logo_retroFilms.png" alt="Logoderetrofilms"  class="logo" />
            </a>
            <a href="#">Inicio</a>
            <a href="#">Generos</a>
            <a href="#">Películas</a>
            <a href="#">Series</a>

            <div class="search-bar">
              <input type="text" placeholder="Buscar" />
              <button type="submit">Buscar</button>
            </div>
            <a href="#">Iniciar Seion</a>
            <a href="#">Registrarse</a>
          </nav>

      </section>
    </header>

    <main>
        <div class="carousel">
            <div class="carousel-slide">
                <button class="view-movie">Ver Película</button>
            </div>
            <button class="carousel-button prev-button">&#10094;</button>
            <button class="carousel-button next-button">&#10095;</button>
        </div>
        <div class="content-tabs">
            <div>Últimas</div>
            <div>Estrenos</div>
            <div>Más Vistas</div>
        </div>

        <div class="movie-grid">
            <div class="movie"><img src="/public/css/styles/imagenes/elPadrino.jpg" alt="" width="300px" height="350px"></div>
            <div class="movie"><img src="/public/css/styles/imagenes/breakFast_at_Tiffanys.jpg" alt="" width="300px" height="350px"></div>
            <div class="movie"><img src="/public/css/styles/imagenes/amores_perros.jpg" alt=""width="300px" height="350px"></div>
            <div class="movie"><img src="/public/css/styles/imagenes/Ben-hurd.webp" alt="" width="300px" height="350px"></div>
            <div class="movie"><img src="/public/css/styles/imagenes/gone_with_the_wind.jpg" alt="" width="300px" height="350px"></div>
            <div class="movie"><img src="/public/css/styles/imagenes/La_dolce_vita.jpg" alt="" width="300px" height="350px"></div>
            <div class="movie"><img src="/public/css/styles/imagenes/metropolis.jpg" alt="" width="300px" height="350px"></div>
            <div class="movie"><img src="/public/css/styles/imagenes/Seven_Samurai_poster.jpg" alt="" width="300px" height="350px"></div>
            <div class="movie"><img src="/public/css/styles/imagenes/tiempos_modernos.jpg" alt="" width="300px" height="350px"></div>
            <div class="movie"><img src="/public\css\styles\imagenes\Cinema_Paradiso.jpg" alt=""width="300px" height="350px"></div>
            <div class="movie"><img src="/public\css\styles\imagenes\Fitzcarraldo_Web.jpg" alt=""width="300px" height="350px"></div>
            <div class="movie"><img src="/public\css\styles\imagenes\La tumba_de_las_liciernagas..webp" alt=""width="300px" height="350px"></div>
            <div class="movie"><img src="/public\css\styles\imagenes\MiVecino_TOTORO.webp" alt=""width="300px" height="350px"></div>
            <div class="movie"><img src="/public\css\styles\imagenes\Robocop.jpg" alt=""width="300px" height="350px"></div>
            <div class="movie"><img src="/public\css\styles\imagenes\Ciudano_KANE.jpg" alt=""width="300px" height="350px"></div>
            <div class="movie"><img src="/public\css\styles\imagenes\El_gran_dictador-348479670-large.jpg" alt=""width="300px" height="350px"></div>
        </div>

        <div class="tops">
           <div>Top Estrenos</div>
        </div>

        <div class="top-estrenos">
            <div class="topmovie">#1 <img src="" alt="" width="200px" height="250px"></div>
            <div class="topmovie">#2 <img src="" alt=""width="200px" height="250px"></div>
            <div class="topmovie">#3 <img src="" alt=""width="200px" height="250px"></div>
        </div>
    </main>

    <footer>
        <section class="containerFooter">
           <nav class="navFooter">
            <a href="#">
               <img src="/public\css\styles\imagenes\logo_retroFilms.png" alt="" class="logo">
            </a>
            <p>Aviso Legal: <i class="fa-solid fa-copyright"></i>  2024 RetroFilms, todos los derechos reservados.</p>
            <p><i class="fa-solid fa-face-smile-hearts"></i>Hay más de 10,000 películas disponibles.</p>
           </nav>
           <class="navFooterDos">
           <div class="iconosFooter"><i class="fa-brands fa-square-instagram"></i> <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-youtube"></i> <i class="fa-brands fa-twitter"></i></div> 
           </nav>
        </section>
    </footer>
  </body>
</html>
