<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <script src="https://kit.fontawesome.com/ef41563829.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <title>RetroFilms</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/styles/styles.css" />
  <script src="https://kit.fontawesome.com/ef41563829.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="containerHedar1">
      <nav class="navbar">
        <a href="#">
          <img src="/public/imagenes/logo_retroFilms1.png" alt="Logoderetrofilms" class="logo" />
        </a>
        <a href="#">Inicio</a>
        <a href="#">Generos</a>
        <a href="#">Películas</a>

        <div class="search-bar">
          <input type="text" placeholder="Buscar" />
          <button type="submit" class="search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="#">Iniciar Sesion</a>
        <a href="#">Registrarse</a>
        
      </nav>

    </div>
  </header>

  <main>
    <section>
      <img src="/public/imagenes/mago de oz.jpg" alt="" >
      <img src="/public/imagenes/back-to-the-future.jpg" alt="" >
      <img src="/public/imagenes/Grease.jpg" alt="" >
      <img src="/public/imagenes/Casablanca.jpg" alt="" >
      <img src="/public/imagenes/frankenstein.jpg" alt="" >
      <img src="/public/imagenes/IT.jpeg" alt="">
      <img src="/public/imagenes/superman.jpg" alt="">
      <img src="/public/imagenes/scarface.jpg" alt="">
      <img src="/public/imagenes/planeta de los simios.webp" alt="">
      <img src="/public/imagenes/aliciaenel.jpg" alt="">
      <img src="/public/imagenes/elbuenomalofeo.webp" alt="">


    </section>

    <div class="content-tabs">
      <div>Últimas</div>
      <div>Estrenos</div>
      <div>Más Vistas</div>
    </div>
    <div class="main-content">
      <div class="movie-grid">
        <div class="movie"><img src="/public/imagenes/elPadrino.jpg" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public/imagenes/breakFast_at_Tiffanys.jpg" alt="" width="300px" height="350px">
        </div>
        <div class="movie"><img src="/public/imagenes/amores_perros.jpg" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public/imagenes/Ben-hurd.webp" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public/imagenes/gone_with_the_wind.jpg" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public/imagenes/La_dolce_vita.jpg" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public/imagenes/metropolis.jpg" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public/imagenes/Seven_Samurai_poster.jpg" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public/imagenes/tiempos_modernos.jpg" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public\imagenes\Cinema_Paradiso.jpg" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public\imagenes\Fitzcarraldo_Web.jpg" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public\imagenes\La tumba_de_las_liciernagas..webp" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public\imagenes\MiVecino_TOTORO.webp" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public\imagenes\Robocop.jpg" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public\imagenes\Ciudano_KANE.jpg" alt="" width="300px" height="350px"></div>
        <div class="movie"><img src="/public\imagenes\El_gran_dictador-348479670-large.jpg" alt="" width="300px" height="350px"></div>
      </div>

      <div class="tops">
        <div>Top Estrenos</div>
      </div>
      <div class="top-estrenos">
        <div class="topmovie">#1 <img src="/public/imagenes/star wars.webp" alt="" width="200px" height="250px"></div>
        <div class="topmovie">#2 <img src="/public/imagenes/Volver_al_Futuro_III_Poster.webp" alt="" width="200px" height="250px"></div>
        <div class="topmovie">#3 <img src="/public/imagenes/Historia sin fin.jpg" alt="" width="200x" height="250px"></div>
      </div>
    </div>
    

    <a href="#" class="back-to-top">
      <i class="fas fa-arrow-up"></i>
    </a>

  </main>

  <footer>
    <div class="containerFooter">
      <div class="navFooter">
        <a href="#">
          <img src="/public\imagenes\logo_retroFilms1.png" alt="" class="logo">
        </a>
        <p>Aviso Legal: <i class="fa-solid fa-copyright"></i> 2024 RetroFilms, todos los derechos reservados.</p>
        <p><i class="fa-solid fa-face-smile-hearts"></i>Hay más de 10,000 películas disponibles.</p>
      </div>

      <div class="iconosFooter">
          <i class="fa-brands fa-square-instagram"></i> 
          <i class="fa-brands fa-facebook"></i> 
          <i class="fa-brands fa-youtube"></i> 
          <i class="fa-brands fa-twitter"></i>
      </div>
    
    </div>
  </footer>
</body>

</html>