*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size:19px;
    font-weight: 200;
    font-family: 'Noto Serif';
    color:#ffffff; 
    background: linear-gradient(to right, #002540 10%, #150e23 80%);
  
    
}

/*
.actor{
    display:flex;   
    justify-content: center;
    align-items: center;
    border: solid 1px  #02B0FF;
    border-radius: 10px;
    width: 85vw;
    align-items: center;
}

.boxActorImg{
    display:block;
    width: 180px;
    align-content: flex-start;
}

.actorDescription{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    margin: 5px;
}

.actorDescription{
    margin: 2vw;
    font-family: "Noto Serif";
}
*/

/*
.actor {
    display: flex;
}
  
.boxActorImg {
flex: 1;
}

.actorImg {
width: 100%;
height: auto;
}

.actorDescription {
flex: 2;
padding-left: 20px;
}

*/

.actor {
    display: flex;
    flex-direction: row;
    border: solid 1px #02B0FF;
    border-radius: 10px;
    width: 85vw;
    flex-wrap: nowrap;
}

.boxActorImg {
    justify-content: flex-start;
    padding: 2%;
}

.actorDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actorsName{
    font-family:'Bebas Neue';   
    font-size: 2em;
    font-weight: 1000;
    text-align: center;
    margin: 10px;
    color: #B88442;
}

  