* {
    margin: 0px;
    padding: 0px;
    box-sizing : border-box;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


header{
    background-color: #002540;
    width: 100%;
}

.logo {
    display: flex;
    height: 50%;
    width: 50%;
}

.iconos-proceso{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.fa-solid{
    border: 1px solid #f78524;
    background-color: #FFF;
    border-radius: 50%;
    padding: 5px;
    color: #f78524;
}

.iconos-contexto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    align-self: flex-end;
    font-weight: 500;
    margin: 10px;
    text-align: center;
    width: 100%;
    font-family: "Bebas Neue", sans-serif;
}

.vendido{
    text-align: left;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    border-top: 1px #002540 solid;
    margin-left: 13px;
    margin-right: 13px;
    display: flex;
}

.producto{
    margin-left: 13px;
    margin-right: 13px;
    background-color: #ebebeb;
    border-radius: 10px;
    display: flex;
    
}

.imagen-producto{
    width: 20%;
    height: 20%;
    margin-left: 10px;
}

.fa-circle-xmark{
   position: absolute;
    margin-left: 5px;
}
.nombre-producto{
    position: absolute;
    margin-top: 25px;
    margin-left: 78px;
    font-weight: bold;
    font-size: 20px;
}

.precio-producto{
    margin-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
}
.add-delete{
    display: flex;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0,0,0,0.16);
    width: 100px;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
    position: relative;
    bottom:20px;
}
.fa-trash{
    color: grey;
    border: none;
}
.fa-circle-plus{
    border: none;
}

.total-productos{
    text-align: left;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    border-bottom: 1px #002540 solid;
    margin-left: 13px;
    margin-right: 13px;
    display: flex;
}

.cupon-descuento{
    padding: 13px;
    border-radius: 7px;
    margin-bottom: 13px;
    margin-top: 17px;
    display: flex;
    background-color: #ebebeb;
    margin-left: 13px;
    margin-right: 13px;
}

input{
    font-size: 20px;
    font-weight: 500;
    height: 46px;
    outline: none;
    position: relative;
    width: 100%;
    border-radius: 7px;
    padding: 13px 9px;
    font-style: italic; 
    font-weight: 300;   
    font-family: 'Noto Serif', sans-serif;
}

button{
    font-size: 14px;
    height: 46px;
    margin-left: 10px;
    position: relative;
    width: 90%;
    border-radius: 7px;
    border:solid 3px #002540;
    color: #002540;
    font-style: italic; 
    font-weight: 300;   
    font-family: 'Noto Serif', sans-serif;
}

.subtotal-total{
    border: 1px #ebebeb solid;
    margin-left: 13px;
    margin-right: 13px;
    border-radius: 7px;
}
.subtotal{
    display: flex;
    padding: 13px;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    width: 100%;
    position: relative;
    font-style: italic; 
    font-weight: 300;   
    font-family: 'Noto Serif', sans-serif;
   
}

.total{
    background-color: #ebebeb;
    display: flex;
    padding: 13px;
    justify-content: space-between;
    font-size: 14x;
    align-items: center;
    width: 100%;
    position: relative;
    font-style: italic; 
    font-weight: 300;   
    font-family: 'Noto Serif', sans-serif;
}

.pagar{
    color: white;
    border: none;
    background-color: #f78524;
    width: 94%;
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
    font-style: italic; 
    font-weight: 300;   
    font-family: 'Noto Serif', sans-serif;
}

.seguir-comprando{
    color: white;
    border: 3px solid #002540;
    width: 94%;
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
    font-style: italic; 
    font-weight: 300;   
    font-family: 'Noto Serif', sans-serif;
}

a{

    text-decoration: none;
    color: black;
    
}

.vaciar-carrito{
    border: none;
    background-color: white;
    text-align: right;
    text-decoration: underline;
    color: black;
    font-style: italic; 
    font-weight: 300;   
    font-family: 'Noto Serif', sans-serif;
}
    
.copyright{
    text-align: center;
    font-style: italic; 
    font-weight: 300;   
    font-family: 'Noto Serif', sans-serif;

}

.terminos{
    text-decoration: underline;
}

h5{
    font-style: italic; 
    font-weight: 300;   
    font-family: 'Noto Serif', sans-serif;
}


