*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size:19px;
    font-weight: 200;
    font-family: 'Noto Serif';
    color:#ffffff; 
    background: linear-gradient(to right, #002540 10%, #150e23 80%);
  
    
}
.titulo{
    font-family:'Bebas Neue';   
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    margin: 10px;
    color: #B88442
}

.tituloPeli{
    font-family:'Bebas Neue';   
    font-size: 24px;
    font-weight: 1000;
    text-align: center;
    margin: 10px;
    color: #B88442;
}
/* -------------------Encabezado---------------------------------*/
.encabezado{
    background-color: #002540;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0px;
    border-bottom:3px solid #02b0ff;

    
}
.logo{
    width: 40%;
    margin: 20px;
    margin-top:30px;
    padding: 5px;
    
}

.menu{
    padding: 7px;
    color:#996935;

}

.buscador{
    border:none;
    border-radius:10%;
    padding:20px;
    
}

#site-search{
    width: 50vw;
    padding: 8px;
    border-radius: 10px;
    
}
.lupa{
    padding: 8px;
    color:#996935;
    border-radius: 10px;
    background-color: #02b0ff;
    
}
.fa-solid.fa-basket-shopping{
    padding:10px;
    border:none;
    border-radius: 10%;
    color:#996935;
    background-color: #02b0ff;
    
}
.carritoCompras{
    border-radius: 15px;
}
.menuPrincipal{
    display:flex;
    justify-content: space-between;
}

.menuPrincipal ul{
    display:flex;
    list-style: none;
    margin:0;
    padding: 0;  
    border-bottom: 3px solid #02b0ff;
    
    
}

.menuPrincipal li a{
    text-decoration:none;
    color: #ffffff;
    display: inline-block;
    margin: 10px;
    padding:5px;

}



/* -------------------body---------------------------------*/



.btPoster{
    display:block;
    width: 180px;
    margin-left:85px;
    align-content: center;
}
.cajaDescripcionPelicula{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    margin: 5px;


}


.detallePeli{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin:0px;
    padding: 10px;
    
}
.detallePeli a{
    margin:5px;
}



.descripcionPeli{
    margin: 2vw;
    font-family: "Noto Serif";
}

.botones{
    align-self: center;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    font-family: 'Bebas Neue';
    font-size: 18px;
    width: 200px;
    border:none;
    border-radius: 10px;
    background-color: #02b0ff;
    color:#ffffff;
}  
.botones:hover{
    color:indigo;
} 


.botonVolver{
    margin: 10px;
    padding: 20px;
    font-family: 'Bebas Neue';
    font-size: 18px;
    width: 150px;
    border:none;
    border-radius: 10px;
    background-color: #02b0ff;
    color:#ffffff;
    margin-left:7.6vw;

}

.botonVolver:hover{
    color:indigo;
}
/*------ Carril Imagenes ------------*/

.carrilImagenes {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
    margin:auto;
    width: 100vw;
}

.carrilImagenes ul{
    display: flex;
    flex-wrap: wrap;
    text-decoration:none;
    list-style: none;
    margin: 0px;
    padding:5px;
    align-content:center;
    justify-content: center;
}

.carrilImagenes img{
    max-width: 340px;
    height: 240px;
    border-radius: 10%;
    margin: 10px;
}

/* --------------Reparto------------------*/

.repartoPrincipal{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-left: 10px;
    text-align: center;
}

.actor{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    overflow:hidden;
    margin: 20px;
}

/* -----------------------También te puede gustar ----------------------*/

.tambienPuedeGustar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;

}
.tambienPuedeGustar img{    
    max-width: 400px;
    margin: 0px;
    max-height: 300px;
}

/* ------------------------------Reviews ------------------------------------*/

.resenias{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.usuario{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    
    
}
.usuario img{
    max-width: 100px;
    max-height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.cajaComentario{
    border: 1px dotted indigo;
    border-radius: 10%;
    max-width: 70vw;
    margin:10px;
}

/*----------------------------------Footer---------------------------------*/
footer{
    background-color: #002540;
    border-top:1px solid #02b0ff;
}

.redes{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    margin: 5px;
}
.redes div{
    margin: 10px;
    
}

.redes i{
    color:#996935; 
}


.Copyright{
    font-family: 'Noto Serif';
    font-weight: 400;
    text-align:center;
    color:#996935;
}

/* ---------------------- MediaQueries ------------------------------------*/
@media (min-width: 361px){
    header{
        width:95%;
    }
    .menuPrincipal{
        display:none;
    }
  
}
@media(max-width:400px){    
    .atras, .adelante{  
        display:none;
    }
    .menuPrincipal{
        display:none;
    }
}

@media (min-width: 500px){
    .menu{
        display:none;
    }
    .logo{
        width: 28vw;
    }
    #site-search{
        width: 40vw;
    }
    .tambienPuedeGustar img{
        margin: 5px;
    }
}

@media (min-width: 768px){
    .menuPrincipal{
        display:block;
    }
    .menu{
        display:none;
    }
    .menuPrincipal ul{
        display:flex;
        justify-content: flex-end;
        font-family:'Bebas Neue';   
        font-size: 24px;
        font-weight: 1000;
        color: #ffffff;
    }
    .peliculaSeleccionada{
        display:flex;   
        justify-content: center;
        align-items: center;
        border: solid 1px  #02B0FF;
        border-radius: 10px;
        width: 85vw;
        align-items: center;
        margin:auto;
        
    }

    .btPoster{
        width: 18vw;
        margin-top:3%;
       
    }   
    .cajaDescripcionPelicula{
        justify-content: center;
    }
    .tituloPelicula{
        justify-content: center;
        align-items: center;
    }

    .carrilImagenes{
        margin-left: 30px;
    }
    .repartoPrincipal{ 
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin:auto;
        margin-left: 10px;
        text-align: center;
    }

    .tambienPuedeGustar img{
        margin: 10px;
    }
    .redes div{
        margin: 25px;
        width: 40px;
        
    }
    .logoFooter{
        width: 40%;
        margin-left: 220px;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 1000px){
    .menu{
        display:none;
    }
    .tituloPeli{
        font-family:'Bebas Neue';   
        font-size: 50px;
        font-weight: 1000;
        text-align: center;
        margin: 10px;
    }
    .carrilImagenes{
        margin-left: 30px;
    }
    .repartoPrincipal{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin:auto;
        margin-left: 10px;
        text-align: center;
    }
    .tambienPuedeGustar img{
        margin: 15px;
    }
    .redes div{
        margin: 25px;
        width: 40px;
        
    }
    .logoFooter{
        width: 40%;
        margin-left: 500px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .anio:hover, .calif:hover, .genero:hover{
        color: blueviolet ;
    }
}

