* {
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

body, html {
    margin: 0;
    padding: 0;
}

header, body {
    background-color: white
}

.header__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0px auto;
    padding: 1%;
}

form {
    width: 50vw;
    margin: auto;
    padding :20px ;
    border: 2px solid #02263F;
    border-radius: 2%;
    background-color: #E0EBF3;
}

label , p{
    margin-bottom :5px ;
}

input[type=text], input[type=password], input[type=tel], input[type=file], input[type=file] {
    width :100% ;
    padding :10px ;
    margin-top: 10px ;
    margin-bottom: 10px;
    
}


button{
    margin-top: 10px;
    padding :10px 20px;
    background-color: #02263F ;
    color:#FFFFFF;
    border: 1px solid #02263F;
    border-radius: 5%;
    transition: all 450ms;
}

button:hover{
    background-color: #1e3b4d;
    border-color: #1e3b4d;
}

.login {
    font-size: 18px;
}
