body, html {
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: auto;
  }
  
  .header {
     height:150px ;
     border-bottom :1px solid #ccc ;
  }
  
  form {
     padding :20px ;
  }
  
   label , p{
     margin-bottom :5px ;
  }
  
   input[type=text], input[type=password], input[type=tel]{
     width :100% ;
     padding :10px ;
     margin-bottom :20px ;
  }
  
   button{
     padding :10px20 px;
     background-color:#333 ;
     color:white;
  }

