*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size:19px;
    font-weight: 200;
    font-family: 'Noto Serif';
    color:#ffffff; 
    background: linear-gradient(to right, #002540 10%, #150e23 80%);
  
    
}
.titulo{
    font-family:'Bebas Neue';   
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    margin: 10px;
    color: #B88442
}

.movieTitle{
    font-family:'Bebas Neue';   
    font-size: 24px;
    font-weight: 1000;
    text-align: center;
    margin: 10px;
    color: #B88442;
}

/* -------------------body---------------------------------*/



.btPoster{
    display:block;
    width: 180px;
    margin-left:85px;
    align-content: center;
}
.movieDescriptionBox{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    margin: 5px;


}


.movieDetail{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin:0px;
    padding: 10px;
    
}
.movieDetail a{
    margin:5px;
}



.movieDescription{
    margin: 2vw;
    font-family: "Noto Serif";
}

.buttons{
    align-self: center;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    font-family: 'Bebas Neue';
    font-size: 18px;
    width: 200px;
    border:none;
    border-radius: 10px;
    background-color: #02b0ff;
    color:#ffffff;
}  
.buttons:hover{
    color:indigo;
} 

.buttonsTop{
    display: flex;
    justify-content: space-between;

}


.buttonGoBack{
    margin: 10px;
    padding: 20px;
    font-family: 'Bebas Neue';
    font-size: 18px;
    width: 150px;
    border:none;
    border-radius: 10px;
    background-color: #02b0ff;
    color:#ffffff;
    margin-left:7.6vw;

}

.buttonGoBack a{
    text-decoration: none;
    color:#ffffff;
}

.buttonGoBack:hover{
    color:indigo;
}

.editButton{
    margin: 10px;
    padding: 20px;
    font-family: 'Bebas Neue';
    font-size: 18px;    
    width: 150px;
    border:none;
    border-radius: 10px;
    background-color: #02b0ff;  
    color:#ffffff;
    
    

}
.editButton a{
    text-decoration: none;
    color:#ffffff
}

.editButton:hover{
    color:indigo;
}

.deleteButton{
    margin: 10px;
    padding: 20px;
    font-family: 'Bebas Neue';
    font-size: 18px;    
    width: 150px;
    border:none;
    border-radius: 10px;
    background-color: #02b0ff;  
    color:#ffffff;
    margin-right: 8vw;
    
    

}
.deleteButton a{
    text-decoration: none;
    color:#ffffff
}

.deleteButton:hover{
    color:indigo;
}



/*------ Carril Imagenes ------------*/

.imagesGrid {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
    margin:auto;
    width: 100vw;
}

.imagesGrid ul{
    display: flex;
    flex-wrap: wrap;
    text-decoration:none;
    list-style: none;
    margin: 0px;
    padding:5px;
    align-content:center;
    justify-content: center;
}

.imagesGrid img{
    max-width: 340px;
    height: 240px;
    border-radius: 10%;
    margin: 10px;
}

/* --------------Reparto------------------*/

.mainCast{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-left: 10px;
    text-align: center;
}

.actor{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    overflow:hidden;
    margin: 20px;
}

/* -----------------------También te puede gustar ----------------------*/

.youMightAlsoLike{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;

}
.youMightAlsoLike img{    
    max-width: 400px;
    margin: 0px;
    max-height: 300px;
}

/* ------------------------------Reviews ------------------------------------*/

.resenias{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.usuario{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    
    
}
.usuario img{
    max-width: 100px;
    max-height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.cajaComentario{
    border: 1px dotted indigo;
    border-radius: 10%;
    max-width: 70vw;
    margin:10px;
}

/* ---------------------- MediaQueries ------------------------------------*/
@media (min-width: 361px){
    header{
        width:95%;
    }
    .mainMenu{
        display:none;
    }
  
}
@media(max-width:400px){    
    .back, .forward{  
        display:none;
    }
    .mainManu{
        display:none;
    }
}

@media (min-width: 500px){
    .menu{
        display:none;
    }
    .logo{
        width: 28vw;
    }
    #site-search{
        width: 40vw;
    }
    .youMightAlsoLike img{
        margin: 5px;
    }
}

@media (min-width: 768px){
    .mainMenu{
        display:block;
    }
    .menu{
        display:none;
    }
    .mainMenu ul{
        display:flex;
        justify-content: flex-end;
        font-family:'Bebas Neue';   
        font-size: 24px;
        font-weight: 1000;
        color: #ffffff;
    }
    .selectedMovie{
        display:flex;   
        justify-content: center;
        align-items: center;
        border: solid 1px  #02B0FF;
        border-radius: 10px;
        width: 85vw;
        align-items: center;
        margin:auto;
        
    }

    .btPoster{
        width: 18vw;
        margin-top:3%;
       
    }   
    .movieDescriptionBox{
        justify-content: center;
    }
    .movieeTitle{
        justify-content: center;
        align-items: center;
    }

    .imagesGrid{
        margin-left: 30px;
    }
    .mainCast{ 
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin:auto;
        margin-left: 10px;
        text-align: center;
    }

    .youMightAlsoLike img{
        margin: 10px;
    }
    .socialMedia div{
        margin: 25px;
        width: 40px;
        
    }
    .logoFooter{
        width: 40%;
        margin-left: 220px;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 1000px){
    .menu{
        display:none;
    }
    .movieTitle{
        font-family:'Bebas Neue';   
        font-size: 50px;
        font-weight: 1000;
        text-align: center;
        margin: 10px;
    }
    .imagesGrid{
        margin-left: 30px;
    }
    .mainCast{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin:auto;
        margin-left: 10px;
        text-align: center;
    }
    .youMightAlsoLike img{
        margin: 15px;
    }
    .socialMedia div{
        margin: 25px;
        width: 40px;
        
    }
    .logoFooter{
        width: 40%;
        margin-left: 500px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .anio:hover, .calif:hover, .genero:hover{
        color: blueviolet ;
    }
}

