.section-perfil-usuario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.nombre-usuario {
    display: block;
    position: relative;
    width: 80%;
    height: 17rem;
    background-image: linear-gradient(180deg,
    #9500ff,
    #09f
    #00DDFF)
}

.buttonProfileHome {
    border: 0;
    background-image: linear-gradient(150deg,
    #9500ff,
    #09f,
    #00DDFF);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 35px;
    padding: 45px;
    margin: 100px;
    cursor: pointer;
    transition: .3s;
}
.carrusel{
    width: 90%;
    max-width: 120em;
    background-color: #02263F;
    padding: 2em;
    overflow: hidden;
    @include neo(1, 1em, 1em);
}

.carrusel .grande{
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @include neo(1, 1em, 1em);
    padding: 2em;

    transition: all .5s ease;
    transform: translateX(0%);
}
.carrusel .img{
    width: calc (100% / 3 -2em);
    background-color: #996935;
    height: 600px;
    @include neo(1, 1em, 1em);
}

.carrusel .puntos{
    width: 100%;
    margin: 1em 0 0;
    padding: .4em;
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrusel .punto{
    width: 2em;
    height: 2em;
    background-color: aliceblue;
    margin: 1em 1em 0;
    @include neo(1, 1em, .7em);

}

.carrusel .punto.activo{
    background-color: #996935;
}
.texto {
    font-size: 40px;
}
