* {
    box-sizing: border-box;
    
    
}


body, html {
    margin: 0;
    padding: 0;
    
   /* agregados para validaciones*/ 
}
 borrarEstilo{
    display: none;
 }

.visible_item{
    display: block;
    transition: opacity 0.3s ease;
    opacity: 1;
    height: auto;
    padding: 5px;
    margin-bottom: 15px;
}
   /*-----------------------------*/

body {
    background-color: white;
    
    
}

.headerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    margin: 0px auto;
    padding: 1%;
}

form {
    width: 75vw;
    margin-top: 2%;
    margin-bottom: 2%;
    padding :20px ;
    border: 2px solid #02263F;
    border-radius: 2%;
    background-color: #E0EBF3;
    font-family: "Noto Serif", serif;
}

label , p{
    margin-bottom :5px ;
}

input[type=text], input[type=password], input[type=tel], input[type=file], input[type=email] {
    width :100% ;
    padding :10px ;
    margin-top: 10px ;
    margin-bottom: 10px;
    
}
  
input {
    border: 1px solid;
    border-radius: 10px;
}

.profilePic {
    border: none;
}
  
.form-control-is-invalid {
    border: 1.5px solid red;
}

.textDanger {
    color: red;
    font-size: 80%;
    margin-bottom: 2%;
}

.textDangerFinal {
    color: red;
    font-size: 80%;
    margin-bottom: 0%;
}
  

button{
    margin-top: 2%;
    padding :10px 20px;
    background-color: #02b0ff ;
    color:#FFFFFF;
    border: 1px solid #02b0ff;
    border-radius: 10px;
    transition: all 450ms;
}

button:hover{
    background-color: #1e3b4d;
    border-color: #1e3b4d;
}

.login {
    font-size: 100%;
}

.formulario__grupo-correcto {
    color: #1ed12d;
    font-size: 20px;


}

.formulario__grupo-incorrecto {
    color: #bb2929;
    font-size: 20px;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}

.texto__error{
    display: none;
    font-size: 12px;
}
.texto__error-activo{
    display: block;
}

.formulario__mensaje{
    display: none;
    color: #bb2929;
    font-size: 12px;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje-exito {
    display: none;
    color: green;
    font-size: 12px;
}

.formulario__mensaje-exito-activo {
    display: block;
}

