* {
    box-sizing: border-box;
    font-family: Bebas Neue, sans-serif;
}

.titulo{
    font-size: 80px;
    color: black;
}
#buttonRegisterHome {
    border: 0;
    background-image: linear-gradient(150deg,
    #9500ff,
    #09f,
    #00DDFF);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 35px;
    padding: 45px;
    margin: 100px;
    cursor: pointer;
    transition: .3s;
}

.text{
    font-size: 40px;
    color: black;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn::after, .btn::after{
    content: ""
    position absolute;
    opacity: 0.3;
    background: #996935;
    border: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s ease;
}
.btn:hover{
      transform: translate(-12px, -12px);
}

.btn:hover::after{
    transform: translate(6px, 6px);
}

.btn:hover::before{
    transform: translate(12px, 12px);
}

.slider--inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 400px;
    transition: all 8s ease-in;
}

.slider--inner img{
    aspect-ratio: 16/9;
    object-fit: cover;
}
img{
    width: 100%;
}

.slider{
    overflow: hidden;
}

