body {
    font-family: a;
    background: linear-gradient(10deg, #002540, #E0EBF3);
    height: 100vh;
}

.formulario{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 500px;
    background: #E0EBF3;
    border-radius: 20px;
}

.formulario h1{
    font-family: a;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 5px solid lightblue;
}

.formulario form{
    position: relative;
    border-bottom: 2px solid lightblue;
    margin: 30px;
    text-align: center;
}

form .usuario{

    position: relative;;
    margin: 10px 0;
}

.usuario input{
    width: 100%;
    position: relative;
    background-color: lightblue;
    font-size: 14px;
    min-height: 20px;
    margin: 2px;
}

.contraseña input{
    width: 100%;
    position: relative;
    background-color: lightblue;
    font-size: 14px;
    min-height: 20px;
    margin: 2px;
}

.ingresar button{
    padding: 5px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 2px;
    cursor: pointer; 
    width: 100%;
    margin: 8px 0px;
}

.crearCuenta button{
    width: 100%;
    border-radius: 2px;
    margin: 6px 0px;
    cursor: pointer;
}

.recuperarContraseña button{
    width: 100%;
    border-radius: 4px;
    margin: 6px 0px;
    cursor: pointer;
}

.logo{
    width: 200px;
    display: block;
    width: 10%;
    height: 0%;
    padding: 10px 400px;
}