*{
    box-sizing: border-box;
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-image: linear-gradient(150deg, #002540, #150e23);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin:0px

}


header{
    width: 100%;
} 

.containerHeader1 {
    align-items: center;
    background-color: #002540;
    width: 100%;
    padding: 50px;
    border-bottom: 2px solid #02b0ff;
}

.containerFooter {
    display: flex;
    align-items: center;
    background-color: #002540;
    width: 100vw;
    padding: 50px;
    border-top: 2px solid #02b0ff;

}

.logo {
    width: 200px;
}

.navFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #996935;
    padding: 0.5rem 1rem;
    width: 80%;
    
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #996935;
    padding: 0,5rem;
    width: 95%;
    height: 100px;
    font-size: 20px;
}


.searchBar  {
    color: #996935;
    text-decoration: none;
    padding: 0, 5rem 1rem;

    input{
        width: 80%;
    }
}

.searchBar button {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    padding: 0.5rem 1rem;
    border: #000000;
}

.navbar a {
    color: #996935;
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.navbar a:hover {
    background-color: #555;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .searchBar input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: none;
    outline: none;
  }
  
  .search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0062cc;
  }

.view-movie {
    position: absolute;
    bottom: 20px;
    left: 35%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: #008CBA;
    border: none;
    color: white;
    cursor: pointer;
}

.contentTabs {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(150deg, #5990b8, #150e23);
    width: 100%;
    color: white;
    
}

.contentTabs div {
    padding: 1rem;
    border-bottom: 5px solid #FF7000;
    font-size: 20px;
    
}
.contentTabs a {
    text-decoration: none;
    color: #ffffff;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top:24px;
    width: 90%;
    justify-content: center;

}

.movieGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top:0px;
    width: 70%;
    object-fit: contain;

    img{
        width: 100%;
    }

}

.movie {
    width: 300px;
    background-color: #ddd;
    height: 425px;
    overflow-y: hidden;
    object-fit: contain;
}


.topMovies {
    width: 20%;
    flex-direction: column;
    flex: 1;
    display: flex;
    gap: 50px;
    color: #996935;
    font-size: 20px;
    align-items: end;
    
    img{
        width: 100%;
    }
}

.newMovies {
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    border:  2px solid #02b0ff;
    width: 80%;
    object-fit: contain;
    
}

.iconsFooter {
    font-size: 40px;
    color:#B88442;
}

section{
    display: flex;
    width: 90%;
    height: 350px;
}

.carrousell{
    width: 100vw;
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 15px;
    justify-content: center;
}



section img{ 
    width: 200px;
    height: 350px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.mainBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 30px;
}

section img:hover{
    cursor:pointer;
    width: 100px;
    opacity: 1;
    filter: contrast(120%);
} 

.back-to-top {
    position: fixed;
    bottom: 15%;
    right: 20px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    z-index:100
  }
  
  .back-to-top:hover {
    opacity: 1;
  }
  
  .back-to-top:focus {
    outline: none;
  }


  @media screen and (min-width: 1091px) and (max-width: 1379px) {
 
    .movie {
        width: 220px;
       
        height: 300px;
       
    }
    
    
    .newMovies {
        width: 100%;
    }
   
}

@media screen and (min-width: 1000px) and (max-width: 1090px) {
 
    .movie {
        width: 200px;
       
        height: 260px;
       
    }
    
    
    .newMovies {
        width: 100%;
    }
   
}

@media screen and (min-width: 769px) and (max-width: 999px) {

    .containerHeader1 {
        width: 100%;
        padding: 20px;
    }
    .logo {
        width: 100px;
    }
    .navbar {
        width: 100%;
        height: 100px;
        font-size: 16px;
    }

    .movieGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }

  
    .movie {
        width: 240px;
       
        height: 300px;
       
    }
    
    
    .newMovies {
        width: 100%;
    }
    .iconsFooter {
        font-size: 35px;
        color:#B88442;
    }
}

@media screen and (min-width: 350px) and (max-width: 768px) {

    .containerHeader1 {
        width: 100%;
        padding: 20px;
    }
    .logo {
        width: 100px;
    }
    .navbar {
        display: flex;
        gap: 10px;
    }

    .movieGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 50%;
    
    }
    .movie {
        width: 90%;
        max-width: 250px;   
        height: 200px;
        max-height: 600px;
       
    }
    
    
    .newMovies {
    
        width: 100%;
    }

    .menuItem{
        display: none;
    }

    .topMovies {
        width: 40%;
        flex-direction: column;
        flex: 1;
        display: flex;
        gap: 20px;
        color: #996935;
        font-size: 20px;
        align-items: end;
        
    
    
        img{
            width: 100%;
        }
    }
    .iconsFooter {
        font-size: 30px;
        color:#B88442;
    }
}

@media screen and (min-width: 200px) and (max-width: 349px) {

    .containerHeader1 {
        width: 70%;
        padding: 10px;
    }
    .logo {
        width: 100px;
    }
    .navbar {
        display: flex;
        gap: 15px;
    }

    .movieGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 50%;
    
    }
    .movie {
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 300px;   
        height: 260px;
        max-height: 600px;
        background-color: none;
       
    }
    
    
    .newMovies {
    
        width: 100%;
    }

    .menuItem{
        display: none;
    }

    .topMovies {
        width: 40%;
        flex-direction: column;
        flex: 1;
        display: flex;
        gap: 20px;
        color: #996935;
        font-size: 20px;
        align-items: end;
        
    
    
        img{
            width: 80%;
        }
    }
   
    .containerHeader1 {
        border-bottom: none;
    }
    
    .contentTabs div {
        padding: none;
        border-bottom: 5px solid #FF7000;
        font-size: 13px;
}
.containerFooter {
    display: flex;
    align-items: center;
    background-color: #002540;;
    padding: 50px;
    border-top: none

}

.containerFooter p{
    display: none;
}
.iconsFooter {
    font-size: 20px;
    color:#B88442;
}
}