body {
    font-family: Arial, sans-serif;
    background: linear-gradient(10deg, #002540, #E0EBF3);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
}

.logo {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto 20px; 
}

.formulario {
    background: #E0EBF3;
    border-radius: 20px;
    padding: 20px;
    width: 100%; 
}

.usuario input,
.contraseña input {
    width: 100%;
    background-color: lightblue;
    font-size: 14px;
    min-height: 20px;
    margin: 2px 0;
    padding: 5px;
    box-sizing: border-box;
}

.ingresar button,
.crearCuenta button,
.recuperarContraseña button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #B88442;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    margin: 8px 0;
}

@media screen and (min-width: 768px) {
    .formulario {
        width: 500px;
        margin: 20px auto;
    }
}
