<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs") %>  
  <link rel="stylesheet" href="/css/actors.css"> 
  <title>RetroFilms</title> 

</head>

<body>

  <header>
        <%-include('./partials/header')%>
  </header>

    <main class="mainBody">

        <section class ="actor">

            <article class="boxActorImg">
                <img class="actorImg" src="\img\productDetail\AliceInWonderland\jerry_colonna.jpg" alt="ola">
            </article>

            <br>

            <article class = "actorDescription">
                    
                <h2 class="actorsName"> Nombre Actor</h3>

                <br>                
                
                <h3 class="description">descripcion/bio</h3>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quos est sit vitae minus tempore dignissimos in unde numquam deserunt veniam fugit, ipsam quasi ipsum molestiae amet, dolorem ea ullam.</p>

                <br> 

                <h3 class="description">peliculas en las que actuo</h3>

                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolorum corrupti maxime totam! Impedit quis, vero ex quo ducimus, totam quibusdam reprehenderit magnam aliquid dolore nulla cupiditate adipisci placeat? Hic.</p>

                <br>
            
            </article>

        </section>

    </main>

  <footer>
    <%-include('./partials/footer')%>
  </footer>

</body>

</html>