<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/header.ejs") %>
    <%- include("partials/head.ejs") %>

    <title>Editar Producto</title>
    <link rel="stylesheet" href="/css/edicion.css">
</head>
<body>
    <br>
    <form action="#" method="POST" >
        <label for="name">Nombre del Producto:</label>
        <input type="text" id="name" name="name" value="" required>
        <label for="description">Descripcion:</label>
        <textarea id="description" name="description" required></textarea>
        <label for="image">Imagen:</label>
        <input type="file" id="image" name="image" accept="image/*">
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" value="0.00" required>
        <button type="submit">Guardar Cambios</button>
    </form>
</body>
<%- include("partials/footer.ejs") %>

</html>
