<link rel="stylesheet" href="/css/generalStyles.css">
<footer>
    <div class="contenedorFooter">
      <div class="navFooter">
          <a href="#">
            <img src="/img/Logo/RetroFilms-Recorte.png" alt="" class="logo">
          </a>
            <p>Aviso Legal: <i class="fa-solid fa-copyright"></i> 2024 RetroFilms, todos los derechos reservados.</p>
            <p><i class="fa-solid fa-face-smile-hearts"></i>Hay más de 10,000 películas disponibles.</p>
      </div>

      <div class="iconosFooter">
          <i class="fa-brands fa-square-instagram"></i> 
          <i class="fa-brands fa-facebook"></i> 
          <i class="fa-brands fa-youtube"></i> 
          <i class="fa-brands fa-twitter"></i>
      </div>
    
    </div>
</footer>