<header>
    <div class="containerHedar1">
      <nav class="navbar">
        <a href="#">
          <img src="img/Logo/RetroFilms-Recorte.png" alt="Logoderetrofilms" class="logo" />
        </a>
        <a class="menuItem" href="#">Inicio</a>
        <a class="menuItem" href="#">Generos</a>
        <a class="menuItem" href="#">Películas</a>

        <div class="search-bar">
          <input type="text" placeholder="Buscar" />
          <button type="submit" class="search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <a href="#" class="menuItem"><i class="fa-solid fa-cart-shopping"></i></a>
        <a class="menuItem" href="#">Iniciar Sesion</a>
        <a class="menuItem" href="#">Registrarse</a>
        <i class="fa-solid fa-bars"></i>
      </nav>

    </div>
  </header>