<link rel="stylesheet" href="/css/generalStyles.css">
<header>
    <div class="contenedorHeader1">
      <nav class="navbar">
           <a href="#">
              <img src="/img/Logo/RetroFilms-Recorte.png" alt="Logoderetrofilms" class="logo" />
           </a>
           <a class="articuloMenu" href="/">Inicio</a>
           <a class="articuloMenu" href="#">Generos</a>
           <a class="articuloMenu" href="#">Películas</a>

         <div class="barraBuscadora">
           <input type="text" placeholder="Buscar" />
           <button type="submit" class="search-button">
             <i class="fa-solid fa-magnifying-glass"></i>
           </button>
         </div>

           <a href="/products/carritoCompras" class="menuItem"><i class="fa-solid fa-cart-shopping"></i></a>
           <a class="articuloMenu" href="/users/login">Iniciar Sesion</a>
           <a class="articuloMenu" href="/users/register">Registrarse</a>
             <i class="fa-solid fa-bars"></i>
      </nav>

    </div>
</header>