<link rel="stylesheet" href="/css/generalStyles.css">
<header>
    <div class="containerHeader1">
      <nav class="navbar">
           <a href="/">
              <img src="/img/Logo/RetroFilms-Recorte.png" alt="Logoderetrofilms" class="logo" />
           </a>
           <a class="menuItem" href="/">Inicio</a>
           <a class="menuItem" href="/actors">Actores</a>
           <a class="menuItem" href="/users/Profiles">Usuarios</a>
           <a class="menuItem" href="#">Géneros</a>
           <a class="menuItem" href="#">Películas</a>

         <div class="searchBar">
           <input type="text" placeholder="Buscar" />
           <button type="submit" class="search-button">
             <i class="fa-solid fa-magnifying-glass"></i>
           </button>
         </div>
           <a href="/products/shoppingCart" class="menuItem"><i class="fa-solid fa-cart-shopping"></i></a>
           <div class = "fatherMenu">
                <ul class = "navBarYesLog">
                    <%if(locals.loggedIn){%>
                        <img class = "userImg" src="/img/avatars/<%=locals.userLogged.profile_pic%>" alt="">Hola,<%=locals.userLogged.username%>
                        <li><a href="/users/profile">Mi Perfil</a></li>
                        <li><a href="/users/logout">Cerrar sesión</a></li>
                  </ul>
                  <%}else{%>
                <ul class = "navBarNoLog">
                <li><a class="menuItem" href="/users/login">Iniciar Sesión</a></li>
                <li><a class="menuItem" href="/users/register">Registrarse</a></li>
                </ul>
          <%}%>
        </div>
      </nav>

    </div>
</header>