<section class ="pelicula-seleccionada">
    <article class = "caja-poster">
      <img class="bt-poster" src="/img/DetalleProducto/Breakfast-at-tiffanys/Posters/Breakfast_at_Tiffany's_(1961_poster).jpeg" alt="">
      <br>
      <button class ="boton-poster">Ver poster</button>
    </article>
    <br>
    <article class = "caja-descripcion-pelicula">
      <div class ="titulo-pelicula">
      <h3 class ="titulo-peli">Breakfast at Tiffany's</h3></div>
      <br>
      <div class ="precio">
          <h4>Precio:</h4>
          <p>$7000</p>
      </div>    
      <br>
      <h4>Duración: 2 hr</h4>
      <ul class = "detalle-peli">
          <li class ="vistas"><a  href="#"></a>Vistas</li>
          <li class = "anio"><a  href="#"></a>Año</li>
          <li class = "calif"><a  href="#"></a>Calificacion</li>
          <li class ="genero"><a  href="#"></a>Genero</li>  <!--Incluir letrero que al hacer hover, muestre las respuestas de cada item de la lista (uno por uno)-->
      </ul>
     <br>
      
      <p class ="descripcion-peli">Holly Golightly (Audrey Hepburn) es aparentemente una escort (la película no es clara en este punto, a diferencia del libro) y aspirante a actriz con un comportamiento bastante extravagante. Prueba de ello es su costumbre de desayunar frente a la joyería Tiffany & Co. Paul Varjack (George Peppard) es un tímido escritor que es el mantenido de una mujer casada. Cuando ambos se convierten en vecinos y se conocen, Paul se enamora de Holly. Sin embargo ella lo rechaza después y se compromete, por su dinero, con José Pereira (José Luis de Vilallonga), un político brasileño millonario. Finalmente, después de que su prometido rompe con ella, Holly acepta el amor de Paul.</p>
      <div>
      <button class="botones"><a href="#"></a>Agregar al carrito</button>
      <button class="botones"><a href="#"></a> Comprar ahora</button>
      </div>
    </article>
  </section>