<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>RetroFilms-Inicio</title>
            <link rel="stylesheet" href="/css/styleLogin.css">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <header class="header">
        <img src="/img/Logo/RetroFilms-Recorte.png"  alt="LogoRetroFilms" class="header__img">
    </header>
    <body>
        </header>
        <div class="container">
            <img src="" alt="" class="logo">
            <div class="formulario">
                <form action="/login" method="post">
                    <div class="usuario">
                        <label for="username">Usuario</label>
                        <br>
                        <input type="text" id="username" name="username">
                    </div>

                    <div class="contraseña">
                        <label for="password">Contraseña</label>
                        <br>
                        <input type="password" id="password" name="password">
                    </div>
                    <label>
                        <input type="checkbox" id="remember" name="remember">
                        Recordarme
                    </label>
                    <div class="ingresar">
                        <button type="submit">Ingresar</button>
                    </div>

                    <div class="recordar">¿Olvidó su contraseña?</div>
                    <div class="recuperarContraseña">
                        <button type="button">Restablecer Contraseña</button>
                    </div>
                    <div class="crearCuenta">
                        <label>¿Eres Nuevo?</label>
                        <br>
                        <button type="button">Crear Cuenta</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
