<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RetroFilms-Inicio</title>
        <link rel="stylesheet" href="/css/styleLogin.css">
        <%-include('../partials/head') %>
    </head>

    <header class="header">
        <%-include('../partials/header')%>
    </header>
    <body>
        </header>
        <div class="container">
            <img src="" alt="" class="logo">
            <div class="entryForm">
                <form action="/users/login" method="POST">
                    <div class="user">
                        <label for="email">Email</label>
                        <br>
                        <input type="email" id="email" name="email">
                    </div>

                    <div class="password">
                        <label for="password">Contraseña</label>
                        <br>
                        <input type="password" id="password" name="password">
                        <%if(locals.errors && errors.email){%>
                            <div class="textDanger">
                                <%=errors.email.msg%>
                            </div>
                            <%}%>
                    </div>
                    <label>
                        <input type="checkbox" id="remember" name="remember">
                        Recordarme
                    </label>
                    <div class="submit">
                        <button type="submit">Ingresar</button>
                    </div>

                    <div class="remember">¿Olvidó su contraseña?</div>
                    <div class="savePassword">
                        <button type="button">Restablecer Contraseña</button>
                    </div>
                    <div class="createAccount">
                        <label>¿Eres Nuevo?</label>
                        <br>
                        <button type="button">Crear Cuenta</button>
                    </div>
                </form>
            </div>
        </div>
    </body>

    <footer>
        <%-include('../partials/footer') %>
    </footer>

</html>
