<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de registo</title>
    <link rel="stylesheet" href="/css/registerView.css">
    <%-include('../partials/head') %>
    
</head>

<body>
  <header>
    <%-include('../partials/header')%>
  </header>
    <h1 class="titulo"> Felicidades tu perfil se creo de manera correcta.</h1>
    <p class="text">Ahora puedes disfrutar de todo nuestro contenido</p>



</body>

<footer>
    <%-include('../partials/footer') %>
</footer>
</html>