<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registro</title>
        <link rel="stylesheet" href="/css/userEdition.css">
        <%-include('../partials/head') %>

    </head>

    <header class="header">
        <%-include('../partials/header')%>
    </header>

    <form action="/users" method="POST" enctype="multipart/form-data">
            <label for="name">Nombre completo:</label>
                <input type="text" id="name" name="name">
            <label for="userName">Nombre de Usuario:</label>
                <input type="text" id="userName" name="userName">
            <label for="email">Correo electronico:</label>
                <input type="email" id="email" name="email">
            <label for="userPic">Foto:</label>
                <input type="file" id="userPic" name="userPic" >
            <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password">
            <label for="Category">Categoria:</label>
                <select name="category" id="category">
                    <option value="category1">Gold</option>
                    <option value="category2">Platinum</option>
                    <option value="Category3">Invitado</option>
                </select>
        <br>
        <button type="submit">Editar Usuario</button>
    </form>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>
</html>